body{
  background-color:#5C69AB;
}
h1{
  font-family: "Montserrat", sans-serif;
  color:#101840;
  text-align: center;
}
h2{
  font-family: "Montserrat", sans-serif;
  color:#101840;
	text-align: center;
}
h3{
  font-family: "Montserrat", sans-serif;
  color:#101840;
	text-align: center;
}
h4{
  font-family: "Montserrat", sans-serif;
  color:#101840;
	text-align: center;
}
h5{
  font-family: "Montserrat", sans-serif;
  color:#101840;
text-align: center;
}
h6{
  font-family: "Montserrat", sans-serif;
  color:#101840;
text-align: center;
}
p{
  color: black;
  font-family: "Roboto", sans-serif;
}
#main-navbar a,
#main-navbar button {
	background-color: #AAFFA1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

#main-navbar {
	background-color: #3f497b;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 0 1rem;
	height: 50px;
	transition: background-color 0.3s ease;
}
#main-navbar a:hover,
#main-navbar button:hover{
	transform: scale(1.1);
	background-color: #6EAB68 !important;
}
#main-navbar a, #main-navbar button {
	width: 100%;
	height: 100%;
}

