body{
  background-color:#5C69AB;
}
h1{
  font-family: "Montserrat", sans-serif;
  color:#101840;
  text-align: center;
}
h2{
  font-family: "Montserrat", sans-serif;
  color:#101840;
	text-align: center;
}
h3{
  font-family: "Montserrat", sans-serif;
  color:#101840;
	text-align: center;
}
h4{
  font-family: "Montserrat", sans-serif;
  color:#101840;
	text-align: center;
}
h5{
  font-family: "Montserrat", sans-serif;
  color:#101840;
text-align: center;
}
h6{
  font-family: "Montserrat", sans-serif;
  color:#101840;
text-align: center;
}
p{
  color: black;
  font-family: "Roboto", sans-serif;
}
#main-navbar button {
	background-color: #69ab4d;
	border-radius: 8px;
}
#main-navbar {
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 0 1rem;
	height: 50px;
	transition: background-color 0.3s ease;
}
#main-navbar a:hover{
	transform: scale(1.1);
}
#main-navbar a, #main-navbar button {
	width: 100%;
	height: 100%;
}

