body{
  background-color:#5C69AB;
}
h1{
  font-family: "Montserrat", sans-serif;
  color:#101840;
}
h2{
  font-family: "Montserrat", sans-serif;
  color:#101840;
}
h3{
  font-family: "Montserrat", sans-serif;
  color:#101840;
}
h4{
  font-family: "Montserrat", sans-serif;
  color:#101840;
}
h5{
  font-family: "Montserrat", sans-serif;
  color:#101840;
}
h6{
  font-family: "Montserrat", sans-serif;
  color:#101840;
}
p{
  color: black;
  font-family: "Roboto", sans-serif;
}
